@import "../../styles/Variables.scss";

.notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  max-width: $sm;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

$letter-spacing: -40px;

.notfound-404 {
  & > h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 252px;
    font-weight: 900;
    letter-spacing: $letter-spacing;
    margin: -4rem 0 -3rem 0;
    margin-left: $letter-spacing;

    @media screen and (max-width: $md) {
      font-size: 200px;
    }

    & > span {
      text-shadow: -8px 0 0 var(--background-color);
    }
  }

  & > h3 {
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}
