/* styles.css */

/* General styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f2f2f2;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
    color: #333;
}

button {
    cursor: pointer;
}

/* Header styles */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #5c5c5c;
}

.loginBtn {
    background-color: #f50057;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.loginBtn:hover {
    background-color: #db0041;
}

/* Login Form styles */

.loginFormWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.loginFormBackground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.loginForm {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.loginForm h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.loginForm label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.loginForm input[type="text"]:focus,
.loginForm input[type="password"]:focus {
    border-color: #f50057;
    outline: none;
}

.loginForm button {
    background-color: #f50057;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.loginForm button:hover {
    background-color: #db0041;
}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
}

.closeBtn:hover {
    transform: rotate(90deg);
}

/* Footer styles */

.footer {
    background-color: #5c5c5c;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer p {
    margin-bottom: 10px;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.footer li:not(:last-child) {
    margin-right: 20px;
}

.footer a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer a:hover {
    color: #f50057;
}